/* footer-nav */
#footer-nav {
    padding: 0rem;
}
#footer-nav li {
    text-align: center;
    margin-left: 0;
}
#footer-nav li {
    border: 1px solid #732B2B;

}
#footer-nav li:hover {
    background-color: #e3f2dd;
}
#footer-nav li:active {
    background-color: #0e90d2;
}
.msg-dot {
    position: relative;
}
.msg-dot:after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:5px;
    background-color: #f74c31;
    top: -5px;
    right: -5px;
}

/* top-nav   */
#top-nav {
    text-align: center;
    padding: 0px;
}
#top-nav a, #top-nav form {
    height: 3rem;
    line-height: 3rem;
    border: 1px rgba(121, 56, 56, 0.48) solid;
    border-style: none solid solid none;
}
#top-nav a {
    vertical-align: middle;
    margin: 0px;
}
.nav-link.icon {
    font-size: 1.5rem;
}

