@import "compass/css3"
@import "compass/typography";

@mixin background-colors($normal, $hover, $active, $visited, $focus) {
    background-color: $normal;
    @if $visited {
        &:visited {
        color: $visited;
        }
    }
    @if $focus {
        &:focus {
        color: $focus;
        }
    }
    @if $hover {
        &:hover {
        color: $hover;
        }
    }
    @if $active {
        &:active {
        color: $active;
        }
    }
}

@mixin navTop-item-width($first, $second, $third) {
    @each $nav-item in back input icon {
        @if $nav-item == back {
            width: $first;
        }
        @if $nav-item == input{
            width: $second;
        }
        @if $nav-item == third {
            width: $third;
        }
        @else {
            width: auto;
        }
    } 
}

$ntp: nav-top;
$nft: nav-footer;
$nav-bg: rgba(228, 38, 38, 0.8);
$nav-bg-hover: #e3f3dd:
$nav-bg-active: #0e90d2;


html {
    font-size: 16px;
}
.navbar,
.nav-list {
    width: 100%;
}

.navbar {
    position: fixed;
    z-index: 10;
    background-color: $nav-bg; 

    .nav-list {
        font-size: 0;
    
        > [class*= "nav-item"] {
            @include inline-block;
            padding: .5rem 0;
            font-size: 16px;
            text-align: center;
        }
    }
}

/*   nav-top    */
.nav-top {
    top: 0;
    left: 0;
    
    .nav-list > li[class*="nav-item-"] {
        @mixin navTop-item-width( 10%, 80%, 10%);
    }

    .navbar-form > .nav-input{
        box-sizing: border-box;
        padding: 4px 8px;
        border: 1px solid #efe;
        border-radius: 1px;
    }

    .navbar-form > .nav-btn {
        @extend .nav-input;
        background-color: #fff;
        font-size: 12px;
    } 
}

/*   nav-footer   */
.nav-footer {
    bottom: 0;
    left: 0;

    .nav-list > .nav-item {
        width: 25%;
        @mixin background-colors( $nav-bg, $nav-bg-hover, $nav-bg-active, false, false );
    }
}

.msg-dot {
    position: relative;
    
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius:5px;
        background-color: #f74c31;
        top: -5px;
        right: -5px;    
    }
}
