@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

$navTop: (nav-item-back: 10%, nav-item-input: 80%, nav-item-icon: 10%);
$nav-bg: rgba(136, 129, 129, 0.8);
$menu_up_top: -7rem;

html { font-size: 16px; }

.navbar,
.nav-list { width: 100%; }

.class_link,
.nav-link {
    @include inline-block;
    @include box-sizing( border-box );
    color: #fff;
    padding: .3rem .5rem;

    &:focus { outline: none; }

    &:hover { color: #edd; }

    &:active { color:#353131; }
}

.navbar {
    position: fixed;
    z-index: 10;
    background-color: $nav-bg; 

    .nav-list {
        font-size: 0;
    
        > [class*= "nav-item"] {
            @include inline-block;
            font-size: 16px;
            text-align: center;
        }
    }
}

/*   nav-top    */
.nav-top {
    top: 0;
    left: 0;
}

/*   nav-footer   */
.nav-footer {
    bottom: 0;
    left: 0;

    .nav-list > .nav-item {
        @include box-sizing( border-box );
        width: 50%;

        .nav-link { width: 100%; }
        
        &:not(:first-child) {
            border: 1px none #fff;
            border-style: none none none solid;
        }
    }
}

/*  item_downMenu  */
.item_downMenu {
    position: relative;

    .menu_item {
        position: absolute;
        width: 100%;
        background: $nav-bg;

        li,
        li .class_link { width: 100%; }

        li {
            @include box-sizing( border-box );
            border: 1px none rgba(245, 245, 245, 0.8);
        }
    }
}

.item_downMenu.up .menu_item {
    top: $menu_up_top;
    
    li { border-style: solid solid none solid; }
}

.item_downMenu.down .menu_item li { border-style: none solid solid solid; }

.msg-dot {
    position: relative;
    
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        @include border-radius( 5px );
        background-color: #f74c31;
        top: -5px;
        right: -5px;    
    }
}
