$navTop: (nav-item-back: 10%, nav-item-input: 80%, nav-item-icon: 10%);
$nav-bg: rgba(136, 129, 129, 0.8);
$nav-bg-hover: #e3f3dd;
$nav-bg-active: #0e90d2;

@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
html {
    font-size: 16px;
}
.navbar,
.nav-list {
    width: 100%;
}
.nav-link {
    @include inline-block;
    color: #fff;
    padding: .5rem 0;

    &:focus {
        outline: none;
    }

    &:hover {
        color: #edd;
    }
    
    &:active {
        color:#353131;
    }
}
.navbar {
    position: fixed;
    z-index: 10;
    background-color: $nav-bg; 

    .nav-list {
        font-size: 0;
    
        > [class*= "nav-item"] {
            @include inline-block;
            font-size: 16px;
            text-align: center;
        }
    }
}

/*   nav-top    */
.nav-top {
    top: 0;
    left: 0;

    .nav-link {
        padding: .5rem;
    }
}

/*   nav-footer   */
.nav-footer {
    bottom: 0;
    left: 0;

    .nav-list > .nav-item {
        @include box-sizing(border-box );
        width: 50%;

        .nav-link {
            width: 100%; 
        }
        
        &:not(:first-child) {
            border: 1px none #fff;
            border-style: none none none solid;
        }
    }
}

.msg-dot {
    position: relative;
    
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius:5px;
        background-color: #f74c31;
        top: -5px;
        right: -5px;    
    }
}
