


$nav_fs: 16px;
$nav_floatLeft_pad: .5rem;
$nav_center_marg: $nav_fs/2 + $nav_floatLeft_pad/1rem * 16px;

        /**** 与 order_details 共用开始 ****/
body { min-width: 270px; }
/* nav */

.nav_center{ margin-left: - $nav_center_marg; }

/* product_item  */
.product_item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    .product_avater {
        width: 35%;
        max-width: 300px;
        margin-right: 5%;
    }

    .info_right {
        overflow: hidden;
        margin-left: 40%;
        color: #000;

        .product_name {
            font-size: 14px;
            font-weight: bold;
        }
    }
}

/* -- sum -- */
.sum {
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid #eee;

    .sum_price {
        font-size: 16px;
        color: red;
    }
}

.order_shop {
    @extend .inshop_icon;
    margin-top: -1px;
    padding: 5px;

    .inshop_icon { vertical-align: middle; }
}
        /***  共用完  ****/
/*
    --- nav ---
 */
.order_nav .nav-link,
.order_nav .class_link {

    &:hover { color: #eee;}

    &:active { color: #F30939; }

    [class*="icon-"] { font-weight: bold; }

    .down_icon { margin-left: 5px; }
}

.item_downMenu .menu_item {
      left: -16px;
      width: 110%;
      background: rgba(239, 112, 112, 0.9);

      li { border: 1px none rgba(220, 155, 155, 0.8); }
}

/*
    --- orders_list ---
 */
#orders_list { margin: 2.5rem 0 3.5rem 0; }

/*  --- order_list --- */
.order_list {
    overflow: hidden;
    border-bottom: 5px solid #eee;

    .order_shop .shop_name { font-weight: bold; }

    .order_time {
        padding: 5px;
        border-bottom: 1px solid #EC9A72;
        font-size: 10px;
    }

    .order_shop {
        background-color: rgb(255, 193, 193);

        [class*= "state_"] { font-weight: bold; }

        .state_done { color: #13B113; }

        .state_doing { color: #f00;}
    }
}

/*  --- products --- */
.order_products {
    margin: 0 5px;
    font-size: 10px;

    /* -- action -- */
    .shop_action {
        margin: 5px;

        .shop_contact,
        .action_btn { display: inline-block;; }

        .action_btn {
            padding: .25em .75em;
            margin: 0 0 0 .5rem;
        }
    }
}
