@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

$nav-bg: rgba(136, 129, 129, 0.8);
$nav-bg-hover: #e3f3dd;
$nav-bg-active: #0e90d2;
$product_name_fs: 14px;
$product_name_margin: 0px;
$product_name_height: $product_name_fs * 3; 
$identificate_fs: 10px;
$shop_avater_height: 4rem;
$come_shop_padding: 5px;
$come_shop_height: 66px;

html {
    font-size: 14px;
}

/*   nav-footer   */

.nav-footer {

    .nav-list > .nav-item { width: (1/3)*100%; }

    .nav-link {
        font-size: 10px;
        
        [class*="icon-"]::before { display: block; }
    }

    .shopping_cart { background: rgba(255, 173, 0, 0.8); }

    .order { background: rgba(255, 0, 0, 0.8); }
}


/* 
    -- section : product-- 
 */
#product { margin: 2.5rem 0;}

/* banner & name & shop-info */
.product_banner {
    max-width: 100%;
    background: #efe;  /* test */

    > .banner_bg {
        width: 100%;
        height: 100%;
    }
}

.product_tag {
    font-size: $product_name_fs;
    margin: 5px ;

    .identificate {
        font-size: $identificate_fs;

        &:before {
            content: "";
            float: left;
            width: 1px;
            height: $identificate_fs * 1.5 * 2;
            border: 1px none #000;
            border-style: none none none solid;
        }
    }
    
    .product_name {
        overflow: hidden;
        height: $product_name_height;
    }

    .price {
        font-size: .5rem;
        
        .current_price {
            color: red;
            font-size: 1.2rem;
        }

        .before_price {
            color: #716C6C;
            text-decoration: line-through;
        }
    }
}

.come_shop {
    padding: $come_shop_padding;
    vertical-align: middle;
    background-color: rgb(199, 93, 89);

    .come_fonts,
    .come_fonts::before,
    .shop_name { @include inline-block; }
    
    .come_fonts::before,
    .shop_avater,
    .shop_name { vertical-align: middle; }

    >.come_fonts {
        &:before {
            content: "";
            height: $come_shop_height;
            width: 1px;
        }

        .shop_link { 
            color: #000;

            &:hover, 
            &:active { color: #fff; }
        } 
    }

    > .shop_avater {
        margin: 3px;
        width: 4rem;
        height: $shop_avater_height;
        background: rgb(255,235,59);  /* test */
        border: 2px solid #fff;
        @include border-radius(999px);
    }

    > .shop_name { font-size: 16px; }

    .shop_address { font-size: 10px; }
}


.detail_title,
.product_detail {
    &:after {
        display: block;
        content: "";
    }
}
.detail_title {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: #f00;

    &:after{
        width: 20%;
        border: 1px none #f00;
        border-style: none none solid none;
        margin: auto;
    }
}

.product_detail {
    overflow: hidden;
    margin: 2rem 3%;
    min-height: 200px;

    &:after{
        width: 100%;
        border: 1px none #000;
        border-style: none none solid none;
    }

    > img { max-width: 100%; }
}
