<!DOCTYPE html>
<html lang="en">
 	<head>
	<!--- start : Meta  -->
	<meta charset="utf-8">
	<meta name="description" content="果果庄园，店铺, 关注，列表">
	 <!-- start : Mobile Specific  -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- end : Mobile Specific  -->
	<!-- end : Meta -->
	<title>个人中心</title>
	<!-- start : css -->
	<link rel="stylesheet" href="../css/weui.min.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../fonts2/style.css">
	<link rel="stylesheet" href="../css/nav.css">
	<link rel="stylesheet" href="../css/my_home.css">
	<!-- end : css -->
	<!-- start: javascript -->
	<script type="text/javascript" src="../js/libraries/jquery.min.js"></script>
	<!-- end: javascript -->
	</head>
	<body>
		<nav id="top-nav" class="order_nav navbar nav-top form_nav">
			<ul class="nav-list center clearfix">
	            		<li class="nav-item float_left">
	                		<a id="nav-back" class="nav-link" href="#">
	                    		<span class="icon-chevron-thin-left"></span>
	                		</a>
	            		</li>
		           	<li class="nav-item nav_center">
		              	<h1 class="nav-name">  个人中心  </h1>
		            	</li>
		       </ul>
		</nav>
		<section id="my_home">
			<div class="shop_name">
				<img class="avater" src="../images/banner_b1.jpg"/>
				<p class="name">我的果园</p>
				<p class="identificate">
					<span class="icon-user-tie">身份认证</span>
					<span class="icon-user-tie">企业认证</span>
				</p>
			</div>

			<div class="weui_grids">
			    <a href="attention_lists.min.html" class="weui_grid">
				        <p class="weui_grid_icon icon-heart3 icon_center"></p>
				        <p class="weui_grid_label">关注列表</p>
			    </a>
			    <a href="sell_lists.min.html" class="weui_grid">
				        <p class="weui_grid_icon icon-text icon_center"></p>
				        <p class="weui_grid_label">订购列表</p>
			    </a>
			    <a href="orders_list.min.html" class="weui_grid">
				        <p class="weui_grid_icon icon-menu icon_center"></p>
				        <p class="weui_grid_label">订单列表</p>
			    </a>
			    	<a href="add_product.min.html" class="weui_grid">
				        <p class="weui_grid_icon icon-pen icon_center"></p>
				        <p class="weui_grid_label">发布商品</p>
			    	</a>
				<a href="signin.min.html" class="weui_grid">
				        <p class="weui_grid_icon icon-user2 icon_center"></p>
				        <p class="weui_grid_label">个人设置 </p>
			    	</a>
				<a href="shop_home.min.html" class="weui_grid">
		        		<p class="weui_grid_icon icon-shop icon_center"></p>
		        		<p class="weui_grid_label">我的店铺 </p>
			    </a>
			</div>
		</section>
	   	<!-- This is footer-navbar  -->
		<nav id="footer-nav" class="navbar nav-footer fixed">
			<ul class="nav-list">
		            <li class="nav-item">
		            		<a class="nav-link" href="attention_lists.min.html">
		            			<span class="icon-heart block-icon"></span>关注列表
		            		</a>
		          </li>
		            <li class="nav-item">
		            		<a class="nav-link" href="shop_home.min.html">
		            			<span class="icon-shop block-icon"></span>我的店铺
		            		</a>
		            	</li>
		            	<li class="nav-item">
		            		<a class="nav-link" href="#">
		            			<span class="icon-cart block-icon"></span>购物车
		            		</a>
		            	</li>
		            	<li class="nav-item">
		            		<a class="nav-link current_visit" href="my_home.min.html">
		            			<span class="icon-user block-icon"></span>我
		            		</a>
		            	</li>
	        	</ul>
		</nav>
	</body>
	<script type="text/javascript" src="../js/nav.min.js"></script>
</html>
