<!DOCTYPE html>
<html lang="en">
    <head>
    <!--- start : Meta  -->
    <meta charset="utf-8">
	<meta name="description" content="果果庄园，店铺, 编辑">
    <!-- start : Mobile Specific  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- end : Mobile Specific  -->
    <!-- end : Meta -->
	<title>购物车</title>
    <!-- start : css -->
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../fonts2/style.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/shopping_cart.css">
    <!-- end : css -->
    <!-- start: javascript -->
    <script type="text/javascript" src="../js/libraries/jquery.min.js"></script>
    <!-- end: javascript -->
    </head>
    <body>
        <nav class="order_nav navbar nav-top">
            <ul class="nav-list center clearfix">
                <li class="nav-item float_left">
                    <a id="nav-back" class="nav-link" href="#">
                        <span class="icon-chevron-thin-left"></span>
                    </a>
                </li>
                <li class="nav-item nav_center">
                    <h1 class="nav-name"> 购物车 </h1>
                </li>
            </ul>
        </nav>
        <section id="shopping_cart">
            <div class="weui_panel weui_panel_access">
                <div class="weui_panel_hd">图文组合列表</div>
                <div class="weui_panel_bd">
                    <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                        <div class="weui_media_hd">
                            <img class="weui_media_appmsg_thumb" src="" alt="">
                        </div>
                        <div class="weui_media_bd">
                            <h4 class="weui_media_title">标题一</h4>
                            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                        <div class="weui_media_hd">
                            <img class="weui_media_appmsg_thumb" src="" alt="">
                        </div>
                        <div class="weui_media_bd">
                            <h4 class="weui_media_title">标题二</h4>
                            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                        </div>
                    </a>
                </div>
                <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
            </div>



                    <div class="weui_cells weui_cells_checkbox ">
                        <label class="weui_cell weui_check_label weui_panel_access" for="shop1">
                            <div class="weui_cell_hd">
                                <input type="checkbox" class="weui_check" name="checkbox1" id="shop1" checked="checked">
                                <i class="weui_icon_checked"></i>
                            </div>
                            <div class=" weui_cell_primary weui_cells_access shop">
                                <a class="weui_panel_ft" href="javascript:;">
                                    <p class="weui_cell_primary">我的果园</p>
                                </a>
                            </div>
                        </label>
                        <label class="weui_cell weui_check_label" for="shop1_1">
                            <div class="weui_cell_hd">
                                <input type="checkbox" class="weui_check" name="checkbox1" id="shop1_1" checked="checked">
                                <i class="weui_icon_checked"></i>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                                    <div class="weui_media_hd">
                                        <img class="weui_media_appmsg_thumb" src="../images/banner_bg1.jpg"  alt="">
                                    </div>
                                    <div class="weui_media_bd">
                                        <h4 class="weui_media_title">标题一</h4>
                                        <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                    </div>
                                </a>
                            </div>
                        </label>
                        <label class="weui_cell weui_check_label" for="shop1_2">
                            <div class="weui_cell_hd">
                                <input type="checkbox" name="checkbox1" class="weui_check" id="shop1_2">
                                <i class="weui_icon_checked"></i>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                                    <div class="weui_media_hd">
                                        <img class="weui_media_appmsg_thumb" src="../images/banner_bg1.jpg"alt="">
                                    </div>
                                    <div class="weui_media_bd">
                                        <h4 class="weui_media_title">标题一</h4>
                                        <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                    </div>
                                </a>
                            </div>
                        </label>
                    </div>
        </body>
</html>

