@font-face {
    font-family: 'icomoon';
    src:    url('./icomoon.eot?pwg8e6');
    src:    url('./icomoon.eot?pwg8e6#iefix') format('embedded-opentype'),
        url('./icomoon.ttf?pwg8e6') format('truetype'),
        url('./icomoon.woff?pwg8e6') format('woff'),
        url('./icomoon.svg?pwg8e6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-undo2:before {
    content: "\e901";
}
.icon-user:before {
    content: "\e902";
}
.icon-star-empty:before {
    content: "\e903";
}
.icon-star-full:before {
    content: "\e904";
}
.icon-heart:before {
    content: "\e905";
}
.icon-happy2:before {
    content: "\e906";
}
.icon-smile:before {
    content: "\e907";
}
.icon-wink2:before {
    content: "\e908";
}
.icon-evil:before {
    content: "\e909";
}
.icon-point-left:before {
    content: "\e90a";
}
.icon-plus:before {
    content: "\e90b";
}
.icon-minus:before {
    content: "\e90c";
}
.icon-checkmark:before {
    content: "\e90d";
}
.icon-checkmark2:before {
    content: "\e90e";
}

