/* line 8, ../sass/nav.scss */
html {
  font-size: 16px; }

/* line 11, ../sass/nav.scss */
.navbar,
.nav-list {
  width: 100%; }

/* line 15, ../sass/nav.scss */
.nav-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #fff;
  padding: .5rem 0; }
  /* line 20, ../sass/nav.scss */
  .nav-link:focus {
    outline: none; }
  /* line 24, ../sass/nav.scss */
  .nav-link:hover {
    color: #edd; }
  /* line 28, ../sass/nav.scss */
  .nav-link:active {
    color: #353131; }

/* line 32, ../sass/nav.scss */
.navbar {
  position: fixed;
  z-index: 10;
  background-color: rgba(136, 129, 129, 0.8); }
  /* line 37, ../sass/nav.scss */
  .navbar .nav-list {
    font-size: 0; }
    /* line 40, ../sass/nav.scss */
    .navbar .nav-list > [class*="nav-item"] {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 16px;
      text-align: center; }

/*   nav-top    */
/* line 49, ../sass/nav.scss */
.nav-top {
  top: 0;
  left: 0; }
  /* line 53, ../sass/nav.scss */
  .nav-top .nav-link {
    padding: .5rem; }

/*   nav-footer   */
/* line 59, ../sass/nav.scss */
.nav-footer {
  bottom: 0;
  left: 0; }
  /* line 63, ../sass/nav.scss */
  .nav-footer .nav-list > .nav-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%; }
    /* line 67, ../sass/nav.scss */
    .nav-footer .nav-list > .nav-item .nav-link {
      width: 100%; }
    /* line 71, ../sass/nav.scss */
    .nav-footer .nav-list > .nav-item:not(:first-child) {
      border: 1px none #fff;
      border-style: none none none solid; }

/* line 78, ../sass/nav.scss */
.msg-dot {
  position: relative; }
  /* line 81, ../sass/nav.scss */
  .msg-dot:after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #f74c31;
    top: -5px;
    right: -5px; }
