@charset "UTF-8";
/**** 与 order_details 共用开始 ****/
/* line 9, ../sass/orders_list.scss */
body {
  min-width: 270px; }

/* nav */
/* 问题 ？？？？？？？？？？？？？？？*/
/* line 12, ../sass/orders_list.scss */
.nav_center {
  margin-left: -16px; }

/* product_item  */
/* line 15, ../sass/orders_list.scss */
.product_item {
  padding: 10px 0;
  border-bottom: 1px solid #eee; }
  /* line 19, ../sass/orders_list.scss */
  .product_item .product_avater {
    width: 35%;
    max-width: 300px;
    margin-right: 5%; }
  /* line 25, ../sass/orders_list.scss */
  .product_item .info_right {
    margin-left: 40%;
    overflow: hidden; }
    /* line 29, ../sass/orders_list.scss */
    .product_item .info_right .product_name {
      font-size: 14px;
      font-weight: bold; }

/* -- sum -- */
/* line 37, ../sass/orders_list.scss */
.sum {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid #eee; }
  /* line 42, ../sass/orders_list.scss */
  .sum .sum_price {
    font-size: 16px;
    color: red; }

/* line 48, ../sass/orders_list.scss */
.order_shop {
  margin-top: -1px;
  padding: 5px; }
  /* line 53, ../sass/orders_list.scss */
  .order_shop .inshop_icon, .order_shop .order_shop {
    vertical-align: middle; }

/***  共用完  ****/
/*
    --- nav ---
 */
/* line 59, ../sass/orders_list.scss */
.order_nav.navbar {
  background-color: rgba(239, 112, 112, 0.9); }

/* line 61, ../sass/orders_list.scss */
.order_nav .nav-link,
.order_nav .class_link {
  color: #000; }
  /* line 65, ../sass/orders_list.scss */
  .order_nav .nav-link:hover,
  .order_nav .class_link:hover {
    color: #eee; }
  /* line 67, ../sass/orders_list.scss */
  .order_nav .nav-link:active,
  .order_nav .class_link:active {
    color: #F30939; }
  /* line 69, ../sass/orders_list.scss */
  .order_nav .nav-link [class*="icon-"],
  .order_nav .class_link [class*="icon-"] {
    font-weight: bold; }
  /* line 71, ../sass/orders_list.scss */
  .order_nav .nav-link .down_icon,
  .order_nav .class_link .down_icon {
    margin-left: 5px; }

/* line 74, ../sass/orders_list.scss */
.item_downMenu .menu_item {
  left: -16px;
  width: 110%;
  background: rgba(239, 112, 112, 0.9); }
  /* line 79, ../sass/orders_list.scss */
  .item_downMenu .menu_item li {
    border: 1px none rgba(220, 155, 155, 0.8); }

/* 
    --- orders_list ---
 */
/* line 85, ../sass/orders_list.scss */
#orders_list {
  margin: 2.3rem 0 .5rem 0; }

/*  --- order_list --- */
/* line 88, ../sass/orders_list.scss */
.order_list {
  overflow: hidden;
  border-bottom: 5px solid #eee; }
  /* line 92, ../sass/orders_list.scss */
  .order_list .order_shop .shop_name {
    font-weight: bold; }
  /* line 94, ../sass/orders_list.scss */
  .order_list .order_time {
    padding: 5px;
    border-bottom: 1px solid #EC9A72;
    font-size: 10px; }
  /* line 100, ../sass/orders_list.scss */
  .order_list .order_shop {
    background-color: rgba(230, 162, 162, 0.8); }
    /* line 103, ../sass/orders_list.scss */
    .order_list .order_shop [class*="state_"] {
      font-weight: bold; }
    /* line 105, ../sass/orders_list.scss */
    .order_list .order_shop .state_done {
      color: #13B113; }
    /* line 107, ../sass/orders_list.scss */
    .order_list .order_shop .state_doing {
      color: #f00; }

/*  --- products --- */
/* line 112, ../sass/orders_list.scss */
.order_products {
  margin: 0 5px;
  font-size: 10px;
  /* -- action -- */ }
  /* line 117, ../sass/orders_list.scss */
  .order_products .shop_action {
    margin: 5px; }
    /* line 120, ../sass/orders_list.scss */
    .order_products .shop_action .shop_contact,
    .order_products .shop_action .action_btn {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    /* line 123, ../sass/orders_list.scss */
    .order_products .shop_action .action_btn {
      padding: .25em .75em;
      margin: 0 0 0 .5rem; }
