/* line 4, ../sass/order_details.scss */
body {
  min-width: 277px; }

/*
 ** nav **
 */
/* line 9, ../sass/order_details.scss */
.order_nav.navbar {
  background-color: rgba(239, 112, 112, 0.9); }

/* line 11, ../sass/order_details.scss */
.nav-list.center {
  text-align: center; }

/* line 13, ../sass/order_details.scss */
.nav-link,
.class_link,
.nav-name {
  color: #000; }

/* line 19, ../sass/order_details.scss */
.nav-link:hover,
.class_link:hover {
  color: #eee; }
/* line 21, ../sass/order_details.scss */
.nav-link:active,
.class_link:active {
  color: #F30939; }

/*
 ** content  **
 */
/* line 27, ../sass/order_details.scss */
.order_details {
  margin-top: 3rem; }

/* -- get_code -- */
/* line 29, ../sass/order_details.scss */
.get_code {
  text-align: center; }
  /* line 32, ../sass/order_details.scss */
  .get_code .get_num,
  .get_code .code {
    margin: .5rem; }
  /* line 34, ../sass/order_details.scss */
  .get_code .get_num {
    color: red;
    font-weight: bold; }
  /* line 39, ../sass/order_details.scss */
  .get_code .code {
    width: 60%;
    max-width: 460px; }

/* -- order_info -- */
/* line 46, ../sass/order_details.scss */
.order_info {
  margin: 5%; }
  /* line 49, ../sass/order_details.scss */
  .order_info h3 {
    @box-sizing ( border-box );
    border: 1px none #f5dddd;
    border-style: none none solid none; }
  /* line 55, ../sass/order_details.scss */
  .order_info p {
    margin: .5rem 0;
    font-size: 12px;
    line-height: 1.5;
    color: #615B5B; }

/* -- order_shop -- */
/* line 64, ../sass/order_details.scss */
p.order_shop {
  border: 1px solid #f5dddd; }

/* line 65, ../sass/order_details.scss */
.shop_contact {
  width: 100%; }
