/* line 14, ../sass/product.scss */
html {
  font-size: 14px; }

/*
* 
* nav
*
*/
/* line 24, ../sass/product.scss */
.navbar,
.nav-list {
  width: 100%; }

/* line 28, ../sass/product.scss */
.nav-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #fff;
  padding: .3rem 0; }
  /* line 33, ../sass/product.scss */
  .nav-link:focus {
    outline: none; }
  /* line 37, ../sass/product.scss */
  .nav-link:hover {
    color: #edd; }
  /* line 41, ../sass/product.scss */
  .nav-link:active {
    color: #353131; }

/* line 46, ../sass/product.scss */
.navbar {
  position: fixed;
  z-index: 10;
  background-color: rgba(136, 129, 129, 0.8); }
  /* line 51, ../sass/product.scss */
  .navbar .nav-list {
    font-size: 0; }
    /* line 54, ../sass/product.scss */
    .navbar .nav-list > .nav-item {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 16px;
      text-align: center; }

/*   nav-top    */
/* line 63, ../sass/product.scss */
.nav-top {
  top: 0;
  left: 0; }
  /* line 67, ../sass/product.scss */
  .nav-top .nav-link {
    padding: .5rem; }

/*   nav-footer   */
/* line 74, ../sass/product.scss */
.nav-footer {
  bottom: 0;
  left: 0; }
  /* line 80, ../sass/product.scss */
  .nav-footer .nav-list > .nav-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%; }
    /* line 84, ../sass/product.scss */
    .nav-footer .nav-list > .nav-item .nav-link {
      width: 100%;
      font-size: 10px; }
      /* line 88, ../sass/product.scss */
      .nav-footer .nav-list > .nav-item .nav-link [class*="icon-"]::before {
        display: block; }
    /* line 93, ../sass/product.scss */
    .nav-footer .nav-list > .nav-item:not(:first-child) {
      border: 1px none #fff;
      border-style: none none none solid; }
  /* line 99, ../sass/product.scss */
  .nav-footer .nav-list .shopping_cart {
    background: rgba(255, 173, 0, 0.8); }
  /* line 103, ../sass/product.scss */
  .nav-footer .nav-list .order {
    background: rgba(255, 0, 0, 0.8); }

/* banner & name & shop-info */
/* line 113, ../sass/product.scss */
.product_banner {
  max-width: 100%;
  background: #efe;
  /* test */ }
  /* line 117, ../sass/product.scss */
  .product_banner > .banner_bg {
    width: 100%;
    height: 100%; }

/* line 123, ../sass/product.scss */
.product_tag {
  font-size: 14px;
  margin: 5px; }
  /* line 127, ../sass/product.scss */
  .product_tag .identificate {
    font-size: 10px; }
    /* line 130, ../sass/product.scss */
    .product_tag .identificate:before {
      content: "";
      float: left;
      width: 1px;
      height: 30px;
      border: 1px none #000;
      border-style: none none none solid; }
  /* line 141, ../sass/product.scss */
  .product_tag .product_name {
    overflow: hidden;
    height: 42px; }
  /* line 146, ../sass/product.scss */
  .product_tag .price {
    font-size: .5rem; }
    /* line 149, ../sass/product.scss */
    .product_tag .price .current_price {
      color: red;
      font-size: 1.2rem; }
    /* line 154, ../sass/product.scss */
    .product_tag .price .before_price {
      color: #716C6C;
      text-decoration: line-through; }

/* line 161, ../sass/product.scss */
.come_shop {
  padding: 5px;
  vertical-align: middle;
  background-color: #c75d59; }
  /* line 166, ../sass/product.scss */
  .come_shop > .come_fonts {
    display: inline-block; }
    /* line 169, ../sass/product.scss */
    .come_shop > .come_fonts:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 66px;
      width: 1px; }
    /* line 177, ../sass/product.scss */
    .come_shop > .come_fonts .shop_link {
      color: #000; }
    /* line 181, ../sass/product.scss */
    .come_shop > .come_fonts .shop_link:hover {
      color: #fff; }
    /* line 185, ../sass/product.scss */
    .come_shop > .come_fonts .shop_link:active {
      color: #fff; }
  /* line 191, ../sass/product.scss */
  .come_shop > .shop_avater {
    margin: 3px;
    width: 4rem;
    height: 4rem;
    background: #ffeb3b;
    /* test */
    border: 2px solid #fff;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    vertical-align: middle; }
  /* line 201, ../sass/product.scss */
  .come_shop > .shop_name {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle; }
    /* line 206, ../sass/product.scss */
    .come_shop > .shop_name > .shop_address {
      font-size: 10px; }

/* line 212, ../sass/product.scss */
.detail_title {
  margin: 10px;
  text-align: center;
  color: #f00; }
  /* line 217, ../sass/product.scss */
  .detail_title:after {
    display: block;
    content: "";
    width: 20%;
    border: 1px none #f00;
    border-style: none none solid none;
    margin: auto; }

/* line 227, ../sass/product.scss */
.product_detail {
  overflow: hidden;
  margin: 50px 3%;
  min-height: 200px; }
  /* line 232, ../sass/product.scss */
  .product_detail:after {
    display: block;
    content: "";
    width: 100%;
    border: 1px none #000;
    border-style: none none solid none; }
  /* line 240, ../sass/product.scss */
  .product_detail > img {
    max-width: 100%; }
